<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Angular Todo Chrome Extension</title>
    <!--link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"-->
    <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div ng-controller='taberController' ng-cloak layout="column" class="md-inline-form">
		
	<md-content>
		<md-input-container class="md-block" md-no-float>
			<input ng-model="keyword" placeholder="Taber" ng-change="onChange()" taber-enter autofocus />
		</md-input-container>
		<md-list flex>
			<md-list-item ng-repeat="item in filteredTabs" ng-click="active(item.id)" class="md-focused">
				<img ng-src="{{item.favIconUrl}}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3><span  ng-bind-html="omit(item.title)"></span></h3>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
 </div>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <!--script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script-->
		<script type="text/javascript" src="lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="lib/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="lib/string_score.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/taberController.js"></script>
    <script type="text/javascript" src="app/taberService.js"></script>
</body>
</html>
